/*** General page styles ****/
html{
    width: 100%;
    height: 100%;
}
body{
    background-color: lavender;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.container{
    width: 100%;
    height: 100%;
    padding: 0;
}
.row{
    margin-left: 0 !important;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.no-padding{
    padding: 0;
}
.main-content{
    width: 100%;
    height: inherit;
    padding: 0;
}
.boid-container {
    padding: 0;
    height: 100%;
}
#restart-btn{
    width: 8em;
    height: 3em;
    color: #DBFFB8;
    text-shadow: 0 1px #1C4048;
    border-radius: 0.3em;
    border: 1px solid  cadetblue;
    background: -webkit-linear-gradient(left, cadetblue, #245580); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, cadetblue, #245580); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, cadetblue, #245580); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, cadetblue, #245580); /* Standard syntax */
}
div.running-input{
    top: 0.5em;

}
input#running{
    width: 1.4em;
    height: 1.4em;
}
label#running-label{
    float:left;
    vertical-align: top;
    display:inline;
    color:  #1C4048;
}
/*** SIDEBAR  ***/
div.sidebar{
    top: 0;
    bottom: 0;
    display: none;
    color:  lavender;
    position: fixed;
    height: 100%;
}
.sb-blue{
    background: -webkit-linear-gradient(left, #245580, cadetblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #245580, cadetblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #245580, cadetblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #245580, cadetblue); /* Standard syntax */
    text-shadow: 1px 1px #11262B;
    border-left: 1px solid #1C4048;
}
.sb-red{
    background: -webkit-linear-gradient(left, #630022, #ce8483); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #630022, #ce8483); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#630022, #ce8483); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #630022, #ce8483); /* Standard syntax */
    text-shadow: 1px 1px #3f0000;
    border-left: 1px solid #3f0000;
}
div.sidebar h3{
    margin-bottom: 0;
}
div.sidebar h4, div.sidebar h5{
    text-shadow: 1px 1px #11262B;
    margin-bottom: 0.4em;
    margin-top: 0.4em;
}
div.sidebar h5{
    text-align: center;
}
.sidebar-input, .sidebar-select{
    border-radius: 0.2em;
    padding-left: 0.5em;
}
.sb-red-input, .sb-red-select{
    background-color: #500128;
    border: 1px solid rgba(230, 230, 250, 0.8);
}
.sb-blue-input, .sb-blue-select{
    background-color: #1C4048;
    /*border: 1px solid #11262B;*/
    border: 1px solid rgba(230, 230, 250, 0.8);
}
.sidebar-button{
    background-color: lavender;
    border-radius: 0.3em;
    border: 1px solid rgba(230, 230, 250, 0.8);
}
.sb-red-button{
    color: #640100;
}
.sb-blue-button{
    color: #1C4048;
}
/**** SIDEBAR SHOW BUTTON ***/
div.sidebar-show{
    width: 6em;
    height: 6em;
    position: fixed;
    right: -10px;
}
div#sb-blue-show{
    bottom: 9em;
    z-index: 10;
    right: -10px;
    opacity: 0.5;
}
div#sb-red-show{
    bottom: 8em;
    z-index: 10;
    right: -10px;
    opacity: 0.5;
}
button.sidebar-effect{
    width: inherit;
    height: inherit;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
    outline:none;
    right: -10px;
}
button#sb-blue-effect{
    background: -webkit-linear-gradient(right, #245580, #1C4048 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #245580, #1C4048); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #245580, #1C4048); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #245580, cadetblue); /* Standard syntax */
    border: 1px solid #1C4048;
    border-right: none;
}
button#sb-red-effect{
    background: -webkit-linear-gradient(right, #630022, #ce8483 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #630022, #ce8483 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #630022, #ce8483 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #630022, #ce8483); /* Standard syntax */
    border: 1px solid #4f001e;
    border-right: none;
}
i.fa.fa-angle-left{
    font-size: 4em;
    color: lavender;
}
/**** END SIDEBAR BUTTON ***/
/*** EXPERIMENT SIDEBAR (RED) *****/
input#new-experiment-btn, input#save-experiment-csv{
    min-width: 6em;
    margin-bottom: 1em;
}
input#start-experiment-btn{
    width: 100%;
    height: 3em;
}

/*** END EXPERIMENT SIDEBAR (BLUE) ****/
/**** Lists (Channels, Frequency Bands) ****/
ul{
    left: 0;
    padding-left: 10%;
}
li{
    list-style-type: none;
}

input[type=radio]{
    width: 1.0em;
    height: 1.0em;
}
input[type=number]#perc1, input[type=number]#perc2 {
    width: 100%;
    min-width: 3em;
}
input[type=number]#ratio, input[type=number]#training-ratio{
    width: 6em;
    margin-left: 1em;
}
/* Frequency Bar chart colours */
.fft_0hz{
    fill: navy;
}
.fft_delta{
    fill: royalblue;
}
.fft_theta{
    fill: teal;
}
.fft_alpha{
    fill: cyan;
}
.fft_beta{
    fill: coral;
}
.fft_gamma{
    fill: darkmagenta;
}

/*** Dialog on new experiment ***/
.ui-dialog > .ui-widget-header {
    background: #630022;
    border: 1px solid #3f0000;
}
div#dialog-age-gender, div#dialog-save-warning{
    background: -webkit-linear-gradient(right,  #630022, #ac5455 ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #630022, #ac5455 ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #630022, #ac5455 ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #630022, #ac5455); /* Standard syntax */
    border: 1px solid #4f001e;
    color: lavender;
    text-shadow: 1px 1px #3f0000;
    border-radius: 0.2em;
}
input#submit-age-gender{
    width: 100%;
    height: 3em;
}
input#age-select{
    max-width: 8em;
}

/***** TIMER ****/
div#timer{
    position: absolute;
    top: 3.1em;
    left: 1em;
    color: cadetblue;
    font-size: 1.7em;
    min-width: 4em;
    float: left;
}
img#timer-icon{
    margin: 0.2em 0.3em 0 0;
    height: 1em;
    float: left;
}
/****POINTS DISPLAY****/
p.points-display{
    font-size: 1.5em;
    color: yellow;
    bottom: 5em;
    position: absolute;
    width: 100%;
    text-align: center;
}
/*****CONTROL ROW*****/
div#control-row{
    position: fixed;
    height: 16.4%;
    width: 100%;
    background: linear-gradient(to top, #245580, cadetblue);
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #07113B, #A4D5FF) repeat scroll 0% 100%;
    bottom: 0;
}
div#controls{
    position: fixed;
    height: 16.4%;
    width: 100%;
    bottom: 0;
}
i.fa.fa-play, i.fa.fa-pause, i.fa.fa-forward, i.fa.fa-backward, i.fa.fa-arrows-alt{
    font-size: 2em;
}
i.fa.fa-play, i.fa.fa-forward{
    left: 0.1em;
    position: relative;
}
i.fa.fa-backward{
    left: -0.1em;
    position: relative;
}
i.fa.fa-floppy-o, i.fa.fa-plus-square{
    font-size: 2em;
}
button[name="mode-control"], button[name="experiment-control"], button[name="expand-control"]{
    margin: 0.5em;
    text-shadow: 1px 1px #000000;
    box-shadow: 1px 2px 4px #070D2C;
    border-radius: 2em;
    border: #245580;
    color: #FFFFFF;
    outline: none;
    width: 4em;
    height: 4em;
    background: rgb(232,238,244); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(232,238,244,1) 1%, rgba(115,177,231,1) 24%, rgba(7,32,142,1) 50%, rgba(32,89,204,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(232,238,244,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(7,32,142,1)), color-stop(79%,rgba(32,89,204,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(232,238,244,1) 1%,rgba(115,177,231,1) 24%,rgba(7,32,142,1) 50%,rgba(32,89,204,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(232,238,244,1) 1%,rgba(115,177,231,1) 24%,rgba(7,32,142,1) 50%,rgba(32,89,204,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(232,238,244,1) 1%,rgba(115,177,231,1) 24%,rgba(7,32,142,1) 50%,rgba(32,89,204,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8eef4', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
    background: transparent linear-gradient(to bottom, #E8EEF4 1%, #5D9BD1 24%, #033a6e 50%, #395792 79%, #5E98CB 100%) repeat scroll 0% 0%;
}
button[name="mode-control"]:active,  button[name="experiment-control"]:active, button[name="expand-control"]:active{
    top: 2px;
    border: none;
    position: relative;
    box-shadow: none;
    background: transparent linear-gradient(to bottom, #395792 1%, #5D9BD1 24%, #E8EEF4 50%, #5E98CB 79%, #1A2865 100%) repeat scroll 0% 0%;
}
button[name="mode-control"]:disabled, button[name="experiment-control"]:disabled, button[name="expand-control"]:disabled{
    background: transparent linear-gradient(to bottom, #cfcfcf 1%, #8c8c8c 24%, #434547 50%, #676767 79%, #b8b8b8 100%) repeat scroll 0% 0%;
    top: 2px;
    border: none;
    position: relative;
    box-shadow: none;
}
p#experiment-mode-display{
    text-align: center;
    font-size: 1.6em;
    color: lavender;
    top: 0.76em;
    position: relative;
    text-shadow: 1px 1px #02203c;
}
div#battery-display{
    width: 6.5em;
    position: fixed;
    top: 3em;
    right: 4em;
}
div#battery-body{
    float: right;
    width: 3em;
    height: 1.5em;
    background: black;
    border-radius: 0.3em;
    border: 2px solid white;
}
div#battery-pole{
    width: 0.5em;
    height: 0.8em;
    border-radius: 0.2em;
    border: 2px solid white;
    position: fixed;
    top: 47px;
    right: 3.6em;
}
div#battery-charge{
    background-color: white;
    width: 2.3em;
    height: 0.8em;
    border-radius: 0.2em;
    margin-top: 0.2em;
    margin-left: 0.2em;
}
span#battery-charge-text{
    min-width: 1em;
    min-height: 1em;
    color: white;
    right: -0.5em;
    position: relative;
}
/******* FREQUENCY SLIDER & OTHER ******/
.fr-percentile-input{
    margin-top: 1.1em;
    margin-bottom: 1em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #152d3b, #A4D5FF) repeat scroll 0% 100%;
}
#amount-dividend, #amount-divisor{
    top: 50%;
    position: absolute;
}
#slider-dividend-percentile, #slider-divisor-percentile {
    position: relative;
    left: 50%;
}
#slider-dividend-percentile{
    background: #1C4048;
}
#slider-dividend-percentile .ui-widget-header{
    background: lavender;
}
#slider-divisor-percentile .ui-widget-header{
    background: #1C4048;
}
.fr-band-single{
    text-align: center;
}